node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/


.vscode/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.DS_Store
Thumbs.db


electron-packager-output/
release/


coverage/


*.log
*.tmp
*.swp
*.swo
.idea/
*.sublime-workspace
*.sublime-project